.FirstView{
  height: 1000px;
  margin-bottom: 100px;
  padding-top: 80px;
  background-image: url(https://rails-02-sample.herokuapp.com/assets/home/cover-lg.jpg);
  background-size: cover;
  width: 100%;
}

.FirstView_title{
  font-size: 84px;
  color: #fff;
  text-align: center;
  font-family: Lato, sans-serif;
  margin-bottom: 20px;
}
